body {
    background-color: #0a0a0a; /* цвет почти такой же, как фон фото */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.main-image {
    height: 85vh;
    object-fit: cover;
    border-radius: 20px; /* мягкие углы */
}

.text-box {
    color: #e6e6e6;
    font-size: 36px;
    max-width: 350px;
    line-height: 1.3;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
